<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.mobplace" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mobplace</name>
    <description>
        Aplicativo de integração
    </description>
    <author email="negociosnainternet@gmail.com" href="">
        Samuel Portela
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
