body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#descriptions {
	width: 100%;
	text-align: center;
}

#descriptions>div {
	margin-bottom: 10px;
	min-width: 250px;
	width: 33%;
	vertical-align: top;
	display: inline-block;
}

@media screen and (max-width: 580px) {
	#descriptions>div {
		width: 100%;
	}
}

div.caption {
	color: #333;
}

div.caption p {
	line-height: 100%;
}

div.caption .description {
	font-weight: bold;
}

div.caption .reference {
	font-size: 11px;
	font-weight: bold;
}

div.caption .price {
	font-weight: bold;
	color: sienna;
}